<div class="post-content">
            <div class="post-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="post-content-title">name of roommate</h1>
                    <p class="post-content-subtitle">
                       <ul class="roommateDescription">
                        Location Lived:<li>roommate.location</li>
                        How Long Lived with Person:<li>roommate.duration</li>
                        Age:<li>roommate.age</li>
                       </ul> 
                    </p>
                </div>
                {{!-- where we can possibly use socket.io to chat with person --}}
                <div class="post-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Chat</button>
                    <button class="secondary-button pure-button">Comment</button>
                </div>
            </div>

            <div class="post-content-body roommateContent">
                {{!-- dynamically generated info from roommate Questionnaire --}}
            </div>
 </div>

{{!-- might cut out if we don't have time to do --}}
 <section class="commentContainer">
   <input type="text">
    {{!-- append each text input as new comment container --}}
    <button>to save input and append comment</button>

{{!-- socket.io chat to discuss post --}}
<section id="chat-container">
<article>

</article>
<form class="pure-form">
    <div id="user-feedback">
        <input type="text" class="pure-input-rounded" />
        <button type="submit" class="pure-button submit-chat-input">Send</button>
    </div>
<script src="js/postChat/chat.js"></script>
</form>
</section>
</section>