<section class="expPost-content">
            <div class="post-content-header pure-g">
                <div class="pure-u-1-2 rooommateInfo">
                    {{!-- put in js to render --}}
                    <h1 class="post-content-title">Expanded Post hi</h1>
                    <p class="post-content-subtitle">
                       <ul class="roommateDescription">
                        Location Lived:<li>roommate.location</li>
                        How Long Lived with Person:<li>roommate.duration</li>
                        Age:<li>roommate.age</li>
                       </ul> 
                    </p>
                </div>
                        Location Lived:<li>${location}</li>
                        How Long Lived with Person:<li>${duration}</li>
                        Age:<li>${age}</li>
                       </ul> 
                    </p>
                </div>
            </div>
    <button id="deleteBtn" class="button-secondary pure-button">Delete Post</button>
{{!-- socket.io chat to discuss post --}}
    <section id="chat-container">
        <article>

        </article>
        <form class="pure-form">
            <article id="chat-dialog">THIS IS THE CHAT</article>
            <div id="user-feedback" style="display:inline">
                <textarea 
                type="text" 
                class="pure-input-rounded"
                name="chat-input"
                id="chat-input"
                maxlength="1250"
                ></textarea>
                <button type="submit" class="pure-button submit-chat-input">Send</button>
            </div>
        <script src="js/postChat/chat.js"></script>
        </form>
    </section>
</section>