
                <!-- A single blog post -->
                <section id="preview-post" class="post-card postContainer">
                    <header class="post-header">
                       <h1><a href="/expPost" class="pure-menu-link">{{title}}</a></h1>
                    </header>
                    <div class="post-description">
                        <ul class="post-preview">
                            <li>{{first_name}} {{last_name}}</li>
                            <li>{{city}}</li> 
                        </ul>
                    </div>
                </section>
    <script src="./js/newPost.js"></script>