<section class="container">
    <nav>
        {{!-- nav bar --}}
    </nav>
    {{!-- if logged in? --}}
    {{roommatePost}}

    {{!-- if roommatePost is clicked, then expanded roommate post AND comment thread available --}}

</section>