
                <!-- A single blog post -->
                <section class="post postContainer">
                    <header class="post-header">
                        
                        

                        <h2 class="post-title roommateName"></h2> 
                    </header>

                    <div class="post-description">
                        <p>
                            
                        </p>
                    </div>
                </section>