<section class="card">
    <h3>rating of person on top left corner</h3>
    <img src="image of person if included">
    <div>
        {{!-- shorthand info of person might check css framework for shortcuts --}}
    </div>
    {{!-- left hand side of card --}}

    {{!-- right hand side of card will include stats etc. --}}

    {{!-- POST INFO LIKE STATS AND COMMENTS ETC.--}}
</section>