
                <!-- A single blog post -->
                <section class="post postContainer">
                    <header class="post-header">
                        
                        <img width="48" height="48" alt="avatar place-holder" class="post-avatar" src="/images/avatar-1.png">
                        <img width="48" height="48" alt="avatar place-holder" class="post-avatar" src="/images/avatar-2.png">

                        <h2 class="post-title roommateName">roommate.name</h2> 
                    </header>

                    <div class="post-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </section>