
                <!-- A single blog post -->
                <section class="post postContainer">
                    <header class="post-header">

                        
                        <img width="48" height="48" alt="avatar place-holder" class="post-avatar" src="/images/avatar-1.png">
                        <img width="48" height="48" alt="avatar place-holder" class="post-avatar" src="/images/avatar-2.png">

                        <h2 class="post-title roommateName">roommate.name</h2> 

                        <img width="48" height="48" alt="avatar place-holder" class="post-avatar" src="/img/user-avatar">
                        <h2 class="post-title roommateName">RANDOM NAME</h2> 

                    </header>

                    <div class="post-description">
                        <p>
                            
                        </p>
                    </div>
                </section>