<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- insert stylesheet here --}}
    <title>Rate Your Roommate</title>
</head>
<body>
    <header>
        <img src="png logo of rate your roommmate">
        <h4>KNOW BEFORE YOU ROOM</h4>
        {{!-- center of the page --}}
        <h1> RATE YOUR ROOMMATE</h1>
        <a>FIND YOUR POTENTIAL ROOOMMATE TODAY</a>
        <button id="takeToLogin"> GET STARTED</button>
    </header>

    <br>
    {{!-- color break --}}

    <section class="intro">
        {{!-- info about site maybe marketting photos --}}
        <h2> INFO ABOUT APPLICATION</h2>

        <p>
            {{!-- info --}}
        </p>
    </section>

    <br>

    {{!-- color break --}}

    <section class="login">

        <form>
            {{!-- table or form for login info --}}
        </form>
    </section>
    {{!-- might opt for an #if loggedIn handlebars approach --}}

    <footer>
        {{!--social meedia? copyright?  --}}
    </footer>
</body>
</html>