
<section id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Rate Your Roommate</h1>
            <h2 class="brand-tagline">know before you room</h2>

            <nav class="nav">
                <ul class="nav-list">
                    {{!-- search site for roommate input --}}
                    <li>
                        <label for="site-search">Search Roommate:</label>
                        <input type="search" id="site-search" name="q">
                        <button>Search</button>
                    </li>
                    {{!-- button to link to add a roommate page --}}
                     <li class="nav-item">
                        <a class="pure-button addRoommate" href="views/">ADD A ROOMMATE</a>
                    </li>
                    <li>
                    {{#if loggedIn}}
                    <button id="logout" class="button-secondary pure-button">LOGOUT</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    {{!-- list of short roommate posts --}}
    <section id="list" class="pure-u-1 roommatePosts" tabindex="-1">
        {{> roommatePost}}
        
    {{!-- possibly can use Lilia's javascript things as reference --}}
    <script src="js/roommatePost.js"></script>
    </section>

    {{!-- single roommate post expanded --}}
    <section id="main" class="pure-u-1 individualPosts" tabindex="-1">
        {{> expandedRoommatePost}}

    {{!-- use lilia's code as reference --}}
    <script src="js/roommatePost.js"></script>
    </section>
  

    {{!-- PAGE FOOTER --}}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="views/home.handlebars" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="https://github.com/leann-labra/Rate-My-Roomie.git" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
</section>
