
<div class="rate_Q1">
    <div class="m_header_step" data-step="2">
        <h1 class="js_error_placement quizz_question required_field">On a scale of 1 - 5, how well did they communicate?</h1>
    </div>
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 </label>
</div>

<div class="rate_Q2">
    <div class="m_header_step" data-step="2">
        <h1 class="js_error_placement quizz_question required_field">On a scale of 1 - 5, did they make their payments on time?</h1>
    </div>
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1</label>
</div>

<div class="rate_Q1">
    <div class="m_header_step" data-step="2">
        <h1 class="js_error_placement quizz_question required_field">On a scale of 1 - 5, did they maintain the common area clean? </h1>
    </div>
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
</div>

<div class="rate_Q1">
    <div class="m_header_step" data-step="2">
        <h1 class="js_error_placement quizz_question required_field">On a scale of 1 - 5, how outgoing were they?</h1>
    </div>
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1</label>
</div>

<div class="rate_Q1">
    <div class="m_header_step" data-step="2">
        <h1 class="js_error_placement quizz_question required_field">On a scale of 1 - 5, did they bring a lot of people over?</h1>
    </div>
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1</label>
</div>
   
<div class="wrapper_row" style="">
    <div class="row js_error_placement_parent step_1">
        <div class="m_header_step" data-step="1">
            <h1 class="js_error_placement quizz_question ">Any further comments or Questions?</h1>
            <span class="not_mandatory">(optional)</span>
        </div>
        
        <div class="form_fields select_row">
            <div class="form_input">
                <span><input type="text" name="participation[promo_response_attributes][response_11728]" id="participation_promo_response_attributes_response_11728"></span>
            </div>
        </div>
    </div>
</div>
    {{!--end questionnaire--}}

    {{!--submit button --}}
     <button type="submit" class="pure-button pure-button-primary">Submit</button>

    {{!--end submit button  --}}
</section>

    
<script src="./js/addroommate.js"></script>
