<body>

    {{!--adding name, last name, city, state form --}}
    <div class="content">
    <form id="create-post" class="pure-form pure-form-stacked">
        <fieldset>   
            <h2 class="content-head is-center">Post your Roommate!</h2>
            <div class"pure-g">
                <div class="pure-u-1 pure-u-md-1-3">
                    <label for="title">Post Title</label>
                    <input type="text" id="title" style="width: 600px" class="pure-u-23-24" />
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" style="width: 600px" class="pure-u-23-24" />
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" style="width: 600px" class="pure-u-23-24" />
                    <label for="city">City</label>
                    <input type="text" id="city" style="width: 600px" class="pure-u-23-24" />
                      
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label for="county">County</label>
                    <select id="county" class="pure-input-1-2">
                        <option>San Bernardino County</option>
                        <option>Riverside County</option>
                        <option>Los Angeles County</option>
                        <option>Ventura County</option>
                        <option>Orange County</option>
                        <option>San Diego County</option>
                        <option>Imperial County</option>
                    </select>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label for="age">Age</label>
                    <select id="age" class="pure-input-1-2">
                        <option>(18-25)</option>
                        <option>(25-30)</option>
                        <option>(30-40)</option>
                        <option>(40+)</option>
                    </select>
                    <label for="multi-first-name">Time spent together (month,years)?</label>
                    <input id="lease_length"type="text" style="width: 600px" class="pure-u-23-24" />
                 <div class="pure-u-1 pure-u-md-1-3">
                    <label for="rateRoomie">On a scale of (1-5), five being absolutely amazing, what would you rate this roommate?</label>
                    <input id="rating" class="pure-input-1-2" style="width: 600px" type="text">
                    </select>
                </div>


                </div>
            </div>
        </section>
    <div class="wrapper_row" style="">
        <div class="row js_error_placement_parent step_1">
            <div class="m_header_step" data-step="1">
                <h1 class="white ">Additional Comments</h1>
            </div>
            
            <div class="form_fields select_row">
                <div class="form_input">
                    <span><input id="comments" style="width: 600px" type="text" name="participation[promo_response_attributes][response_11728]" id="participation_promo_response_attributes_response_11728"></span>
                </div>
            </div>  
        </div>
    </div>
    

    {{!--submit button --}}
     <button type="submit" class="pure-button pure-button-primary">Submit</button>
    <a href="/roommatePage" class="pure-button pure-button-secondary">Cancel</a>
                

    {{!--end submit button  --}}
</body>
</section>
</form>

    
<script src="/js/newPost.js"></script>


