<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Your Site</a>

    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <img class="logo" src="/images/logo-template-.png">
        <h1 class="splash-head">Rate Your Roommate</h1>
        <p class="splash-subhead">
            An application for helping find your potential roommate.
        </p>
        <p>
            <a href="#sign-up" class="pure-button pure-button-primary">Get Started</a>
            <a href="#login" class="pure-button pure-button-primary">Login</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
            
        <h2 class="content-head is-center">
          If you are looking for a roommate and want to know if they would be a good fit, then you have come to the right place!
        </h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                
            </div>
            
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">

             <img class="logo1" src="./images/apartment.png" alt="apartment clipart">

        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <p class="roommate">
                Picking the right roommate for either a house or an apartment can be a challenge, but with our help, will be a breeze!
            </p>
        </div>
    </div>

    <div class="content">
        <a id="sign-up" class="pure-menu-link"></a></li>
        <h2 class="content-head is-center">Sign Up Here!</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form id="signup-form" class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4 class="contact-us">Contact Us</h4>
                <p class="info">
                    You can contact us at phone number or email.
                </p>


            </div>
        </div>

    </div>