
<div class="header">
</div>


<div class="splash-container">
    <div class="splash">
        <img class="logo" src="/images/logo-template-.png">
        <h1 class="splash-head">Rate Your Roommate</h1>
        <p class="splash-subhead">
            An application for helping find your potential roommate.
        </p>
        <p>
            <a href="/signup" class="pure-button pure-button-primary">Get Started</a>
            <a href="/login" class="pure-button pure-button-primary">Login</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
            
        <h2 class="content-head is-center">
          If you are looking for a roommate and want to know if they would be a good fit, then you have come to the right place!
        </h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                
            </div>
            
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">

             <img class="logo1" src="./images/apartment.png" alt="apartment clipart">

        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <p class="roommate">
                Picking the right roommate for either a house or an apartment can be a challenge, but with our help, it will be a breeze!
            </p>
        </div>
    </div>
            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">


                <h4 class="contact-us">Contact Us <i class="fa fa-envelope" style="font-size:30px"></i></h4>

                <p class="info">
                    You can contact us at RYR@gmail.com
                </p>


            </div>
        </div>

    </div>