<div class="content">
   <div class="row justify-space-between-md">
  <div class="login-card">
      <h2 class="page-title">Login <i class='fas fa-sign-in-alt' style='font-size:24px'></i></h2>    
    <form id="login-form" class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email" style="width: 335px" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password" style="width: 300px" />
      </div>
      <div class="form-group">
        <button class="pure-button" type="submit">login</button>
      </div>
      <img class="roommateimg" src="/images/two-roommates.jpg" alt="">
      
    </form>
  </div>
  </div>

<script src="./js/loginuser.js"></script>
<script src="./js/postChat/utils.js"></script>
