
    <nav>
        {{!-- nav bar --}}
    </nav>
    {{!-- if logged in? --}}
    {{roommatePost}}

    {{!-- if roommatePost is clicked, then expanded roommate post AND comment thread available --}}
{{!-- nav bar at the top of the --}}
{{!-- <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</nav> --}}