<section class="roommatePage-container">
            <nav class="sidenav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button addRoommate" href="/">HOME</a>
                    </li>
                    {{!-- button to link to add a roommate page --}}
                    <li class="nav-item">
                        <a class="pure-button addRoommate" href="/addRoommate">ADD A ROOMMATE</a>
                    </li>
                    <li  class="nav-item">
                        <a id="logout" class="button-secondary pure-button">LOGOUT</a>
                    </li>
                </ul>
            </nav>
        {{!-- list of preview posts --}}
        <div class="allpost-container">
                 <div class="header">
                    <h1 class="brand-title">Rate Your Roommate</h1>
                    <h2 class="brand-tagline">know before you room</h2>
                </div>
            
            <div class="previewPosts" tabindex="-1">
                {{!-- making an each loop from a block parameter --}}
                {{#each posts as |post| }}
                    {{> prevPost}}
                {{/each}}
            </div>
        </div>
    </div>
    {{#if title}}

    {{/if}}
</section>
<script src="./js/logout.js"></script>
<script src="./js/loginuser.js"></script>