
<section class="roommatePage-container">
    <nav class="sidenav">
        <ul class="nav-list">
            {{!-- search site for roommate input --}}
            <li class="nav-item pure-form">
                <input type="text" id="site-search" class="pure-input-rounded">
                <button id="search-btn" class="pure-button">Search</button>
            </li>
            <li class="nav-item">
                <a class="pure-button addRoommate" href="/">HOME</a>
            </li>
            {{!-- button to link to add a roommate page --}}
            <li class="nav-item">
                <a class="pure-button addRoommate" href="/addRoommate">ADD A ROOMMATE</a>
            </li>
            <li>
                <button id="logout" class="button-secondary pure-button">LOGOUT</button>
            </li>
        </ul>
    </nav>
    <section class="content-container">
        <div class="header-container">
            <h1 class="brand-title">Rate Your Roommate</h1>
            <h2 class="brand-tagline">know before you room</h2>
        </div>
        {{!-- list of preview posts --}}
        <div class="allpost-container">
            {{!-- {{#if post.length}} --}}
            <div id="list" class="previewPosts" tabindex="-1">
                {{#each post}}
                    {{> prevPost}}
                {{/each}}
            </div>
            {{!-- {{/if}} --}}

            {{!- post expanded --}}
            <div id="main" class="expandedPosts" tabindex="-1">
                {{> expPost}}
            </div>
        </div>
    </section>
</section>
<script src="./js/newPost.js"></script>
<script src="./js/loginuser.js"></script>
<script src="./js/logout.js"></script>

